body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
:root {
  --primary: #2eb19c;
  --primary-light: #e1f7f7;
  --gray: #d9d9d9;
  --text-primary: #fff;
  --default: #153e90;
  --white: #f1f1f1;
}
#root {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr;
  grid-template-areas: "header", "main";
  scroll-behavior: smooth;
}
header {
  border-bottom: 5px var(--primary) solid;
  padding-top: 1rem;
}
.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4px;
}
.nav .item {
  font-size: 1.4rem;
  font-weight: bold;
  color: black;
  text-decoration: none;
  padding: 8px 32px;
  transition: all 0.3s;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
}
.nav button.item {
  border: none;
}
.nav span.item {
  padding: 8px 56px;
}
.nav .item img {
  width: 36px;
  height: 36px;
  margin-right: 12px;
  border-radius: 50%;
  object-fit: cover;
}
.nav .item:hover {
  background: var(--primary);
  color: var(--text-primary);
  clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
}
main {
  margin: 16px 0;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.not-found {
  flex: 1;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.not-found h3 {
  font-weight: 900;
  font-size: 3rem;
  letter-spacing: 0.75rem;
  margin-right: 1.5rem;
  padding-right: 1.5rem;
  border-right: 1px solid #e7e7e7;
}

.not-found > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.not-found p {
  font-size: 0.75rem;
}

.not-found p:first-child {
  margin-bottom: 0;
}

.not-found a,
.not-found a:visited {
  text-decoration: none;
  color: #007aaf;
  transform: all 0.3s;
}

.not-found a:hover {
  text-decoration: underline;
}
/* panel */
.panel {
  border: 0.18rem var(--gray) solid;
  border-radius: 8px;
  width: 95%;
  max-width: 560px;
  align-self: flex-start;
  margin-bottom: 80px;
}
.panel-tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 0.18rem var(--gray) solid;
}
.panel-tabs > div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  flex: 1;
  transition: all 0.3s;
}
.panel-tabs > div.active {
  background-color: #e7e7e7;
  color: var(--primary);
}
.panel-title {
  background: var(--white);
  border-bottom: 0.18rem var(--gray) solid;
  padding: 8px;
}
.panel-title h2,
.panel-title p {
  margin: 0;
  text-align: center;
}
.panel-body {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 1rem;
}
.question {
  border: 0.18rem var(--gray) solid;
  border-radius: 8px;
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}
.question:last-child {
  margin-bottom: 0;
}
.question .header {
  padding: 0.88rem 1rem;
  background-color: #e7e7e7;
  font-size: 1rem;
  font-weight: bold;
  border-bottom: 0.18rem var(--gray) solid;
}
.question .body {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.66rem;
}
.question .body .avatar {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.question .body .avatar img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}
.question .body .details {
  flex: 2;
  align-self: stretch;
  padding-left: 0.66rem;
  border-left: 1px solid #e7e7e7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.question .body .details h3 {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}
.question .body .details p {
  font-size: 0.75rem;
  margin: 0;
}
.question .body .details a {
  align-self: stretch;
  text-align: center;
  padding: 0.66rem;
  border: 1px solid var(--primary);
  font-size: 0.88rem;
  font-weight: 500;
  color: var(--primary);
  background-color: transparent;
  border-radius: 8px;
  text-decoration: none;
  transition: all 0.3s;
}
.question .body .details a:hover {
  border-color: var(--default);
}
.or-sep {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0.75rem 0;
}
.or-sep::before,
.or-sep::after {
  content: "";
  flex: 1;
  height: 0.1rem;
  background-color: var(--gray);
}
.or-sep h4 {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
  margin: 0 0.5rem;
}
/* input */
input,
select {
  border: 0.18rem var(--gray) solid;
}
input,
select,
button {
  border-radius: 8px;
  padding: 0 0.66rem;
  height: 40px;
}
button {
  margin-top: 8px;
  background: var(--primary);
  color: var(--text-primary);
  border: 1px solid var(--primary);
  cursor: pointer;
}
.radio {
  display: flex;
  align-items: center;
}
.radio input {
  margin-right: 0.66rem;
}
.answer {
  border-radius: 8px;
  padding: 0.66rem;
  background-color: #f1f1f1;
  border: 1px solid #e7e7e7;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 0.66rem;
}
.answer:last-child {
  margin-bottom: 0;
}
.answer.selected {
  background-color: var(--primary-light);
  border-color: var(--primary);
}
.answer .badge {
  position: absolute;
  top: -23px;
  right: -23px;
  width: 56px;
  height: 56px;
  text-align: center;
  background-color: #eeb815;
  color: white;
  font-weight: bold;
  font-size: 0.88rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.answer h5 {
  font-size: 1rem;
  margin: 0;
  margin-bottom: 0.75rem;
}
.answer .option-progress {
  align-self: stretch;
  margin-bottom: 0.5rem;
  border-radius: 8px;
  background-color: var(--gray);
  position: relative;
  overflow: hidden;
  height: 46px;
}
.answer .option-progress .progress {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #32bea8;
  border-radius: 8px;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
}
.answer .option-progress .progress span {
  color: white;
  font-weight: bold;
  margin-right: 0.75rem;
  position: absolute;
}
.answer .votes {
  text-align: center;
  font-weight: bold;
}
/* question icon */
.react-redux-icon {
  background: url("./images/react_redux.jpg") no-repeat center;
  background-size: cover;
  overflow: hidden;
  height: 230px;
  width: 300px;
}
.center {
  text-align: center;
}
.w-md {
  min-width: 500px;
}
.leaderboard {
  display: flex;
  flex-direction: column;
}
.user {
  border: 1px solid var(--gray);
  border-radius: 8px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  margin-bottom: 12px;
}
.user:last-child {
  margin-bottom: 0;
}
.user .avatar img {
  width: 120px;
  height: 120px;
  margin-left: 8px;
  border-radius: 50%;
  object-fit: cover;
}
.user .info {
  flex: 1;
  margin: 0 12px;
  padding: 0 12px;
  border-right: 1px solid var(--gray);
  border-left: 1px solid var(--gray);
  display: flex;
  flex-direction: column;
}
.user .info h3 {
  font-size: 1.7rem;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 1.2rem;
}
.user .info .metrics p {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0.66rem 0;
  border-bottom: 1px solid #e7e7e7;
}
.user .info .metrics p span:first-child {
  flex: 1;
}
.user .info .metrics p:last-child {
  border-bottom: none;
}
.user .score {
  display: flex;
  flex-direction: column;
  width: 90px;
  align-self: stretch;
  border: 1px solid var(--gray);
  border-radius: 8px;
  overflow: hidden;
}
.user .score .score-title {
  height: 48px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 0.88rem;
  background-color: #e7e7e7;
}
.user .score .score-value {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.user .score .score-value span {
  width: 46px;
  height: 46px;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: var(--primary);
  border-radius: 50%;
}
