body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
:root {
  --primary: #4a47a3;
  --gray: #d9d9d9;
  --text-primary: #fff;
  --default: #153e90;
  --white: #f1f1f1;
}
#root {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr;
  grid-template-areas: "header", "main";
  scroll-behavior: smooth;
}
header {
  border-bottom: 5px var(--primary) solid;
  padding-top: 1rem;
}
.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4px;
}
.nav .item {
  font-size: 1.4rem;
  font-weight: bold;
  color: black;
  text-decoration: none;
  padding: 8px 32px;
  transition: all 0.3s;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
}
.nav button.item {
  border: none;
}
.nav span.item {
  padding: 8px 56px;
}
.nav .item img {
  width: 36px;
  height: 36px;
  margin-right: 12px;
  border-radius: 50%;
}
.nav .item:hover {
  background: var(--primary);
  color: var(--text-primary);
  clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
}
main {
  margin: 16px 0;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
/* panel */
.panel {
  border: 0.18rem var(--gray) solid;
  border-radius: 8px;
  width: 95%;
  max-width: 560px;
  align-self: flex-start;
  margin-bottom: 80px;
}
.panel-tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 0.18rem var(--gray) solid;
}
.panel-tabs > div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  flex: 1;
  transition: all 0.3s;
}
.panel-tabs > div.active {
  background-color: #e7e7e7;
  color: var(--primary);
}
.panel-title {
  background: var(--white);
  border-bottom: 0.18rem var(--gray) solid;
  padding: 8px;
}
.panel-title h2,
.panel-title p {
  margin: 0;
  text-align: center;
}
.panel-body {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 1rem;
}
.question {
  border: 0.18rem var(--gray) solid;
  border-radius: 8px;
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}
.question:last-child {
  margin-bottom: 0;
}
.question .header {
  padding: 0.88rem 1rem;
  background-color: #e7e7e7;
  font-size: 1rem;
  font-weight: bold;
  border-bottom: 0.18rem var(--gray) solid;
}
.question .body {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.66rem;
}
.question .body .avatar {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.question .body .avatar img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}
.question .body .details {
  flex: 2;
  align-self: stretch;
  padding-left: 0.66rem;
  border-left: 1px solid #e7e7e7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.question .body .details h3 {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}
.question .body .details p {
  font-size: 0.75rem;
  margin: 0;
}
.question .body .details a {
  align-self: stretch;
  text-align: center;
  padding: 0.66rem;
  border: 1px solid var(--primary);
  font-size: 0.88rem;
  font-weight: 500;
  color: var(--primary);
  background-color: transparent;
  border-radius: 8px;
  text-decoration: none;
  transition: all 0.3s;
}
.question .body .details a:hover {
  border-color: var(--default);
}
.or-sep {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0.75rem 0;
}
.or-sep::before,
.or-sep::after {
  content: "";
  flex: 1;
  height: 0.1rem;
  background-color: var(--gray);
}
.or-sep h4 {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
  margin: 0 0.5rem;
}
/* input */
input,
select {
  border: 0.18rem var(--gray) solid;
}
input,
select,
button {
  border-radius: 8px;
  padding: 0 0.66rem;
  height: 40px;
}
button {
  margin-top: 8px;
  background: var(--primary);
  color: var(--text-primary);
  border: 1px solid var(--primary);
  cursor: pointer;
}
/* question icon */
.react-redux-icon {
  background: url("./images/react_redux.jpg") no-repeat center;
  background-size: cover;
  overflow: hidden;
  height: 230px;
  width: 300px;
}
.center {
  text-align: center;
}
.w-md {
  min-width: 500px;
}
.leader-title {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 0.2rem var(--default) solid;
  height: 40px;
  text-align: center;
}
.leader-title > div:hover {
  background: var(--primary);
  color: var(--white);
}
